# OS
.DS_Store

# Python
*.pyc
*.egg-info

# dev
bower_components
node_modules
.sass-cache

# SQLite3 database:
*.db

# IDE
.idea/
*.sublime-workspace
*.sublime-project
.project
.pydevproject
.settings/*

# Project files
devops/settings.py
media/*
static-collected/*
mail_local/*
_ignoreme_*
psql/
mariadb/
redis/
