# this file only contains requirements not contained in the cosinnus projects' setup.py files

gunicorn==19.4.1
psycopg2==2.8.3
elasticsearch==1.7.0
pyelasticsearch==1.4
raven==6.9.0

# these are listed in cosinnus/requirements.txt and cosinnus/setup.py, but need to be shown here
# to be able to be installed during staging/production deploy


-e git+git://github.com/wechange-eg/django-awesome-avatar.git@django2#egg=django-awesome-avatar
-e git+git://github.com/wechange-eg/django-filer.git@django2#egg=django-filer
-e git+git://github.com/wechange-eg/django-multiform.git@master#egg=django-multiform
-e git+git://github.com/saschan/django-djajax.git@django2#egg=django-djajax
-e git+git://github.com/wechange-eg/django-select2.git@django2#egg=django-select2
-e git+git://github.com/wechange-eg/django-osm-field.git@django2#egg=django-osm-field
-e git+git://github.com/wechange-eg/python-markdown2.git@master#egg=markdown2
-e git+git://github.com/wechange-eg/pydkim.git@master#egg=pydkim