{% load i18n static cosinnus_tags thumbnail %}

{% comment %} Display a link to the blog Group if it exists {% endcomment %}
{% group_url 'cosinnus:group-dashboard' group=SETTINGS.NEWW_FORUM_GROUP_SLUG ignoreErrors=True as blog_url %}
{% if blog_url %}
    <li><a href="{{ blog_url }}">{% trans "Forum" %}</a></li>
{% endif %}

{% include 'cosinnus/navbar_buttons_group_menus.html' %}

<li><a href="{% url 'cosinnus:user-list' %}">{% trans "People" %}</a></li>
<li><a href="{% url 'cosinnus:map' %}">{% trans "Map" %}</a></li>
<li><a href="/">{% trans "Your Subportal Extrabutton" %}</a></li>

{% block extra_navbar_buttons %}{% endblock extra_navbar_buttons %}